@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700|Lustria|Open+Sans:400,400italic,600);

body {
	background: url(../images/lined_40.png) repeat 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #000;
}

/* general structure */
header, section, footer {
	display: block;
}
header {
	height: 160px;
	overflow: hidden;
	border-bottom: 1px solid #000;
}
	header hgroup {
		float: left;
	}
		hgroup h1 {
			margin: 30px 0 0 0;
			padding: 20px 0 0 87px;
			height: 80px;
			background: url(../images/red-couch_logo.png) no-repeat 0 0;
			text-shadow: 1px 1px 1px #ddd;
			white-space: nowrap;
		}
			hgroup h1 a {
				color: #000;
				text-decoration: none;
			}
			hgroup h1 a:hover {
				color: #000;
			}
		hgroup p {
			position: relative;
			top: -32px;
			left: 220px;
			font-size: 13px;
			line-height: 17px;
		}
	nav {
		float: right;
		margin: 63px 0 0 0;
		font-size: 30px;
		line-height: 1em;
		font-family: Lustria, serif;
	}
		nav ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
			nav li {
				float: left;
			}
			nav li::before {
				content: '|';
			}
			nav li:first-child::before {
				content: '';
			}
				nav a {
					display: inline-block;
					padding: 0 19px;
					text-decoration: none;
				}

@media (max-width: 970px) {
	header {
		height: auto;
	}
	nav {
		float: left;
		margin: 0 0 30px 0;
	}
}
@media (max-width: 320px) {
	hgroup h1 {
		padding: 20px 0 0 0;
	}
	hgroup p {
		top: 0;
		left: 0;
	}
	nav {
		margin: 0 0 15px 0;
		font-size: 23px;
	}
	nav li {
		float: none;
	}
	nav li::before {
		content: '';
	}
	nav a {
		padding: 0;
	}
}
				
.main {
	margin: 20px 0;
	overflow: hidden;
}



/* general styles */
h1 {
	margin: 0 0 15px 0;
	padding: 0;
	font-family: Quicksand, sans-serif;
	font-weight: normal;
	font-size: 40px;
	line-height: 45px;
}
h2 {
	margin: 0 0 15px 0;
	padding: 0;
	font-family: Lustria, serif;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
}
h2.redBack {
	display: inline-block;
	padding: 5px 10px;
	background: #A40004;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
p {
	margin: 0 0 15px 0;
}
p.disclaimer {
	font-size: 11px;
}
em {
}
a {
	color: #006561;
}
a:hover {
	color: #A66E00;
}
a.link_tooltip {
	text-decoration: none;
	border-bottom: 1px dashed #006561;
}
	a.link_tooltip:hover {
		border-bottom: 1px dashed #A66E00;
	}
.ui-tooltip {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 13px !important;
	line-height: 20px !important;
}
a.pdf {
	display: block;
	padding: 0 0 0 35px;
	min-height: 35px;
	background: url(../images/pdf-icon_small.png) no-repeat 0 0;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}
.imgLeft {
	float: left;
	margin: 0 10px 10px 0;
	padding: 2px;
	border: 1px solid #000;
}
ul {
	list-style-type: circle;
}
table {
	margin: 0 0 20px 0;
}
@media (min-width:1025px) {
	.double-border {
		padding: 20px;
		border: 3px double #006561;
	}
}

/* Homepage styles */
.tiles {
	float: left;
	width: 75%;
}
	.tile {
		float: left;
		display: inline-block;
		padding: 20px;
		margin: 0 2% 20px 0;
		width: 48%;
		border: 3px double #006561;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		overflow: hidden;
	}
		.contact .map {
			margin: 0 0 20px 0;
		}
.sidebar {
	float: right;
	width: 25%;
	color: #fff;
	text-align: center;
}
	.photos,
	.news {
		width: 100%;
		margin: 0px auto 20px;
		padding: 20px 0;
		background: #000
	}

/**** Video Widget ****/
.video {
	text-align: center;
}
	.videoList {
		margin: 0;
		padding: 0;
		list-style: none;
	}
		.videoList li {
			display: none;
		}
		.videoList li:first-child {
			display: list-item;
		}
	.videoNav {
		margin: 10px 0 0 0;
	}
		.videoNav ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
			.videoNav li {
				display: inline-block;
				width: 15px;
				height: 15px;
				margin: 0 5px;
				border: 1px solid #fff;
				border-radius: 10px;
				cursor: pointer;
			}
			.videoNav li.active,
			.videoNav li:hover {
				background: #fff;
			}

@media (max-width: 1280px) {
	.tiles {
		width: 60%;
	}
		.tile {
			float: none;
			width: 98%;
		}
	.sidebar {
		width: 40%;
	}
}
@media (max-width: 800px) {
	.tiles {
		float: none;
		width: 100%;
	}
		.tile {
			width: 100%;
		}
	.sidebar {
		float: none;
		width: 100%;
	}
}


/* Services page styles */
.servicesPage {
	overflow: hidden;
}
	.servicesPage .callout {
		float: left;
		padding: 20px;
		margin: 0 30px 0 0;
		background: rgba(0,0,0,.15);
	}
		.servicesPage .callout ul {
			list-style-type: disc;
		}
	.servicesPage .main-content {
		max-width: 1000px;
	}

@media (max-width: 630px) {
	.servicesPage .callout {
		float: none;
		margin: 0;
	}
	.servicesPage .main-content {
		padding: 20px;
	}
}


/* FAQ page styles */
.faqPage {
	overflow: hidden;
}
	.faqGroup {
		float: left;
		padding: 30px 20px 30px 30px;
		width: 32%;
		margin: 0 2% 2% 0;
		height: 300px;
		background: rgba(0,0,0,0.15);
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		.faqInner {
			position: relative;
			height: 240px;
			padding: 0 20px 0 0;
			overflow: hidden;
		}
	.question {
		margin: 0 0 10px;
		font-family: Lustria, serif;
		font-weight: normal;
		font-size: 21px;
		line-height: 26px;
	}

@media (min-width: 1025px) {
	.faqGroup {
		width: 32%;
	}
	.faqGroup:nth-child(3n) {
		margin: 0;
	}

}
@media (max-width: 1024px) and (min-width: 631px) {
	.faqGroup {
		width: 49%;
	}
	.faqGroup:nth-child(2n) {
		margin: 0;
	}
}
@media (max-width: 630px) {
	.faqGroup {
		width: 100%;
		margin: 0 0 20px 0;
	}
}

/* Footer */
footer {
	padding: 20px 0;
	border-top: 1px solid #000;
	overflow: hidden;
}
	footer .left-content {
		float: left;
	}
	.psych-today {
		float: right;
	}