@import "partials/base";

.FaqPage {
    overflow: hidden;
    padding: 30px 0;

    .links {
        margin: 0 0 30px;
        padding: 0;
        list-style: none;
    }

    .group {
        margin: 0 0 30px 0;
        padding: 0 0 15px;
        border-bottom: 1px solid #d2d2d2;

        &:last-child {
            border-bottom: 0;
        }
    }

    .question > h3 {
        margin: 0 0 10px;
    }

    @media (min-width: $medium) {
        padding: 50px 0;
    }
}