/* FAQ page styles */
.faqPage {
    overflow: hidden;
}
    .faqGroup {
        float: left;
        padding: 30px 20px 30px 30px;
        width: 32%;
        margin: 0 2% 2% 0;
        height: 300px;
        background: rgba(0,0,0,0.15);
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        .faqInner {
            position: relative;
            height: 240px;
            padding: 0 20px 0 0;
            overflow: hidden;
        }
    .question {
        margin: 0 0 10px;
        font-family: Lustria, serif;
        font-weight: normal;
        font-size: 21px;
        line-height: 26px;
    }

@media (min-width: 1025px) {
    .faqGroup {
        width: 32%;
    }
    .faqGroup:nth-child(3n) {
        margin: 0;
    }

}
@media (max-width: 1024px) and (min-width: 631px) {
    .faqGroup {
        width: 49%;
    }
    .faqGroup:nth-child(2n) {
        margin: 0;
    }
}
@media (max-width: 630px) {
    .faqGroup {
        width: 100%;
        margin: 0 0 20px 0;
    }
}