@import "partials/base";

.About {
    padding: 30px 0;

    @media (min-width: $medium) {
        padding: 50px 0;

        .columns {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
            -moz-column-gap: 30px;
            -webkit-column-gap: 30px;
            column-gap: 30px;
        }
    }
}

.Services {
    padding: 30px 0;
    background: $lightBlue;
    overflow: hidden;

    .right {

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    @media (min-width: $medium) {
        padding: 50px 0;

        .left {
            display: inline-block;
            vertical-align: middle;
            width: 60%;
            padding: 0 15px 0 0;
        }

        .right {
            display: inline-block;
            vertical-align: middle;
            width: 40%;
            padding: 0 0 0 15px; 
        }
    }
}

.Faq {
    padding: 30px 0;
    overflow: hidden;

    .more {
        clear: both;
        padding: 25px 0 0;
        text-align: center;
    }

    @media (min-width: $medium) {
        padding: 50px 0;

        .left {
            float: left;
            width: 50%;
            padding: 0 15px 0 0;
        }

        .right {
            float: left;
            width: 50%;
            padding: 0 0 0 15px;
        }
    }
}

.Contact {
    padding: 30px 0;
    background: $darkGrey;
    color: $white;
    overflow: hidden;
    text-align: center;

    a {
        color: inherit;
    }

    @media (min-width: $medium) {
        padding: 50px 0;
    }
}