@import "partials/base";

.Bands {

    .Band {
        padding: 30px 0;
        background: #fff;

        &:nth-child(even) {
            background: $lightBlue;
        }
    }

    @media (min-width: $medium) {
        
        .Band {
            padding: 50px 0;
        }
    }
}

.About {

    @media (min-width: $medium) {

        .columns {
            overflow: hidden;
        }

        .text {
            float: left;
            width: percentage(735 / 960);
        }

        .img {
            float: left;
            width: percentage(175 /960);
            margin-right: percentage(50 / 960);

            img {
                max-width: 100%;
            } 
        }
    }
}

.Experience {

    .skills {

        li {
            padding: 0 0 7px;
        }
    }
}

.Services {
    overflow: hidden;

    .right {

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .insurance-plans {
        padding-top: 30px;
    }

    .toggle-plans {
        cursor: pointer;
        font-weight: 700;
    }

    .plans {
        display: none;
    }

    @media (min-width: $medium) {

        .left {
            display: inline-block;
            vertical-align: middle;
            width: 60%;
            padding: 0 15px 0 0;
        }

        .right {
            display: inline-block;
            vertical-align: middle;
            width: 40%;
            padding: 0 0 0 15px; 
        }

        .plans ul {
            float: left;
            margin-right: 50px;
        }
    }
}

.Faq {
    overflow: hidden;

    .more {
        clear: both;
        padding: 25px 0 0;
        text-align: center;
    }

    @media (min-width: $medium) {

        .left {
            float: left;
            width: 50%;
            padding: 0 15px 0 0;
        }

        .right {
            float: left;
            width: 50%;
            padding: 0 0 0 15px;
        }
    }
}

.Contact {
    padding: 30px 0;
    background: $darkGrey;
    color: $white;
    overflow: hidden;
    text-align: center;

    a {
        color: inherit;
    }

    @media (min-width: $medium) {
        padding: 50px 0;
    }
}