/* Services page styles */
.servicesPage {
    overflow: hidden;
}
    .servicesPage .callout {
        float: left;
        padding: 20px;
        margin: 0 30px 0 0;
        background: rgba(0,0,0,.15);
    }
        .servicesPage .callout ul {
            list-style-type: disc;
        }
    .servicesPage .main-content {
        max-width: 1000px;
    }

@media (max-width: 630px) {
    .servicesPage .callout {
        float: none;
        margin: 0;
    }
    .servicesPage .main-content {
        padding: 20px;
    }
}