/* Colors */
$white: #ffffff;
$whiteSmoke: #f5f5f5;
$lightGrey: #d3d3d3;
$lightBlue: #e0eeee;
//$blue: #5f9ea0;
$blue: #4C7E7F;
$darkGrey: #4a4a4a;
$black: #000000;

/* Breakpoints */
$lt-medium: 849px;
$medium: 850px;
$lt-small: 449px;
$small: 450px;