<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <title>Ian R. Nelson, Counselor - {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <link href="http://fonts.googleapis.com/css?family=Lustria|Open+Sans:300,400,400italic,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/general.css" type="text/css" />
    {% for sheet in page.styles %}
        <link rel="stylesheet" href="css/{{sheet}}">
    {% endfor %}
    <!--[if lte IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>

    <div class="Main">{{ content }}</div>

    <div class="Footer">
        <div class="center">
            <p class="disclaimer">&copy; 2014 Ian R. Nelson</p>
            <p class="disclaimer">*The views and opinions expressed on this website are solely those of Ian Nelson. Pine Rest Christian Mental Health Services is in no way responsible for the content of this website.</p>
        </div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/global.js"></script>
    {% for file in page.scripts %}
        <script src="js/{{file}}"></script>
    {% endfor %}
    <!--Google Analytics Code-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40887142-1', 'ianrnelson.com');
      ga('send', 'pageview');

    </script>
    <!--/End Google Analytics Code-->
</body>
</html>